{% extends "home/base.html" %}
{% load widget_tweaks %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="text-center">
        <div>
          <span>Please click below to login through your GitLab account</span>
        </div>
        <hr></hr>
        <button class="btn btn-sm btn-outline-primary" type="submit">
            <a class="nav-link"href="{% url 'social:begin' 'gitlab' %}">Login with GitLab</a>
        </button>
    </div>

{% endblock %}